# ignore client side configs
je*
blur.cfg
dsurround
overrides\config\legendarytooltips.cfg
overrides\config\jei
overrides\config\dynamiclights_dropitems.cfg
overrides\config\dynamiclights_entityclasses.cfg
overrides\config\dynamiclights_floodlights.cfg
overrides\config\dynamiclights_mobequipment.cfg
overrides\config\dynamiclights_onfire.cfg
overrides\config\dynamiclights_otherplayers.cfg
overrides\config\dynamiclights_theplayer.cfg
overrides\config\dynamiclights.cfg
overrides\config\jeiintegration.cfg
overrides\config\journeymap_ModInfo.cfg
overrides\config\journeymap_server.cfg
overrides/config/biomesoplenty/biomes/defaults/vanilla/taiga_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/taiga_cold_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/taiga_cold.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/taiga.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/swampland.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/sky.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/savanna_rock.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/savanna.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/roofed_forest.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/redwood_taiga_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/redwood_taiga.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/plains.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/ocean.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/mutated_forest.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/mushroom_island.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/mesa_clear_rock.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/mesa.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/jungle_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/jungle.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/ice_mountains.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/ice_flats.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/hell.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/forest_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/forest.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/extreme_hills_with_trees.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/extreme_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/desert_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/desert.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/birch_forest_hills.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/birch_forest.json
overrides/config/biomesoplenty/biomes/defaults/vanilla/beaches.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/xeric_shrubland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/woodland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/white_beach.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/wetland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/wasteland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/volcanic_island.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/visceral_heap.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/undergarden.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/tundra.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/tropical_rainforest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/tropical_island.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/temperate_rainforest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/steppe.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/snowy_tundra.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/snowy_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/snowy_coniferous_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/shrubland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/shield.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/seasonal_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/sacred_springs.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/redwood_forest_edge.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/redwood_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/rainforest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/quagmire.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/prairie.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/phantasmagoric_inferno.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/pasture.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/overgrown_cliffs.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/outback.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/origin_island.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/origin_beach.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/orchard.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/ominous_woods.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/oasis.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/mystic_grove.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/mountain_foothills.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/mountain.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/moor.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/meadow.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/marsh.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/maple_woods.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/mangrove.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/lush_swamp.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/lush_desert.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/lavender_fields.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/land_of_lakes.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/kelp_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/highland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/grove.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/gravel_beach.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/grassland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/glacier.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/fungi_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/flower_island.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/flower_field.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/fen.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/eucalyptus_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/dead_swamp.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/dead_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/crag.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/corrupted_sands.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/coral_reef.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/coniferous_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/cold_desert.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/cherry_blossom_grove.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/chaparral.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/brushland.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/boreal_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/bog.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/bayou.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/bamboo_forest.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/alps_foothills.json
overrides/config/biomesoplenty/biomes/defaults/biomesoplenty/alps.json
overrides/config/biomesoplenty/biome_ids.json
overrides/config/betteradvancements/betteradvancements.cfg
overrides/config/AppliedEnergistics2/Facades.cfg
overrides/config/AppliedEnergistics2/items.csv
overrides/config/AppliedEnergistics2/CustomRecipes.cfg
